* {
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-decoration: none;
  font-family: futura, sans-serif;
}

/* word styling */
h1 {
  font-size: 4em;
}

nav {
  padding-top: 1.5em;
}

h2 {
  font-size: 2em;
  padding-top: 1em;
}

#cart {
  padding: 2em 4em;
}

li {
  list-style: none;
  line-height: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
  padding: 1em;
  font-size: 1.5em;
}

/* body flex*/

body {
  display: flex;
  flex-direction: row;
  text-align: center;
}

main {
  background-color: pink;
  width: 70%;
}

aside {
  width: 30%;
  padding: 2em 0;
  position: fixed;
  right: 0;
}

header {
  padding: 1em 0;
  background-color: pink;
  position: fixed;
  text-align: center;
  width: 70%;
}

.categories {
  padding-top: 12em;
}

/**/

div#produce, div#desserts, div#beverages {
  display: flex;
  flex-flow: row wrap;
}

div.item {
  width: 35%;
  background-color: white;
  margin: 2% 7.5%;
}

.item p {
  padding: .5em;
}

img {
  width: 100%;
}

